<html>
<head> fill the details</head>
<body>
<form name="device" method="post" action="/contact">

Name:<input type="text" name="name">
Email:<input type="text" name="email">
<input type="submit" value="save">

</form>

</body>
</html>