<html>
<head>
<h1 align="center"> Details Of Users </h1>


</head>

<body>

<h4 align="center">Name:<%= data[0]['name'] %></h4>
<h4 align="center">Email:<%= data[0]['emailid'] %></h4>



</body>
</html>